body{
	background: black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}


h1 {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 800;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-top: 110px;	
}


p {
	font-weight: 600;
}

#first {
	margin-top: 10px;
	color: rgb(255, 251, 1);
}

#second {
	color: #51DF70;
}
#third {
	color: #22cfee;
	margin-bottom: 30px;
}

#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: rgb(172, 218, 228);
	background-color: rgb(8,8,8);
	font-weight: normal;
}

#enter:hover {
	opacity: 0.8;
}

ul {
	text-align: left;
	margin-top: 20px;
}

li{
	list-style: none;
	padding: 10px 20px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #f8ca73;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9cd;
}

li:hover{
	background: #76CFE0;
}

li > button {
	font-weight: normal;
	background: none;
	border: white;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

.done{
	background: #51df70 !important;
	color: #fff;
	text-decoration:line-through;
}

.delete{
	display: none;
}